.button {
  height: 45px;
  background-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  color: $white;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}
