.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $blue;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    background-image: url("../img/header-mask.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -855px -178px;
  }
}

.feedback__container {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 31px;
  margin-bottom: 42px;

  color: $white;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 103px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    min-width: 1024px;
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 89px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 111px;
    background-image: url("../img/feedback-plane.png");
    background-size: 511px 288px;
    background-repeat: no-repeat;
    background-position: -10px 72px;

    overflow: visible;
  }
}

.feedback__container h3 {
  margin: 0;
  margin-bottom: 16px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    margin-left: -2px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 29px;
    font-size: 36px;
    line-height: 51px;
  }
}

.feedback__container p {
  margin: 0;
  margin-bottom: 26px;

  line-height: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    margin-left: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 252px;
    margin-bottom: 47px;
  }
}

.feedback__form {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
