.logo__link {
  display: flex;

  cursor: pointer;

  svg {
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}
