.order {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-right: -8px;

  h2 {
    margin: 0;
    margin-top: 183px;
    margin-left: 5px;
    margin-bottom: 28px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;

    @media (min-width: $tablet-width) {
      width: 470px;
      margin-top: 74px;
      margin-bottom: 28px;
      margin-left: 78px;
      letter-spacing: 4.2px;
      font-size: 60px;
      line-height: 70px;
    }

    @media (min-width: $desktop-width) {
      width: max-content;
      margin-top: 54px;
      margin-left: 0;
      font-size: 80px;
      line-height: 94px;
      letter-spacing: 5.3px;
    }
  }

  span {
    position: relative;
    margin-left: 56px;
    margin-bottom: 39px;

    font-size: 16px;
    line-height: 25px;

    &::before {
      position: absolute;
      display: block;
      top: 14px;
      left: -48px;
      content: "";
      width: 33px;
      height: 2px;
      background-color: $white;
    }

    @media (min-width: $tablet-width) {
      width: 356px;
      margin-bottom: 37px;
      margin-left: 129px;

      font-size: 18px;
      line-height: 28px;

      &::before {
        top: 16px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 683px;
      margin-left: 94px;
      margin-bottom: 22px;
      font-size: 22px;
      line-height: 35px;

      &::before {
        top: 15px;
        left: -94px;
        width: 66px;
      }
    }
  }
}

.order-button {
  width: 287px;
  height: 55px;
  margin-left: 8px;
  font-size: 16px;
  letter-spacing: 0.8px;
  background-color: $blue;
  border-color: $blue;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: 379px;
    margin-left: 129px;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 407px;
    margin-left: 94px;
  }
}
