
.socials__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  width: 113px;
}

.socials__image {
  fill: #cdcdcd;

  &:hover {
    fill: $blue;
  }

  &:active {
    opacity: 0.7;
  }
}
