
// цвета текста
$white: #ffffff;
$blue: #00b2ff;
$grey: #666666;
$footer: #1b2d37;

// планшетная ширина
$tablet-width: 768px;
// десктопная ширина
$desktop-width: 1024px;

// ретиновые медиа
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
